.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: (-50%, -50%);
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  align-self: center;
}

.tables {
  color: rgb(241, 63, 32);
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 32%;
}

@media (max-width: 600px) {
  .tables {
    justify-content: flex-start;
    align-items: normal;
    width: 100%;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }

  .fameimg {
    width: 350px;
    height: 300px;
  }
}
