.temp2 {
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photocir2 {
  border-radius: 50%;
  background: red;
  display: block;
}

.linkbadge2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
