.centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: (-50%, -50%);
}

.center2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    align-self: center;
}