/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;

}

.App {
    color: rgb(85, 13, 13);
}

.SideBar{
    background-color: black;
    color: black;
}

.Navbar{
    display: flex;
    justify-content: center;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
